<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Reserva de Salas{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/tailwind.css" %}">
    
    <style>
        body { font-family: 'Inter', sans-serif; }
        .font-lora { font-family: 'Lora', serif; }
    </style>
    
    {% block head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block content %}{% endblock %}
    
    {% block scripts %}{% endblock %}
</body>
</html>